.board {
  min-width: 290px;
  width: 290px;
  max-height: 100%;
  flex-basis: 290px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.board_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.board_header_title {
  font-weight: bold;
  font-size: 1rem;
  display: flex;
  gap: 5px;
  align-items: center;
}

.board_header_title span {
  color: rgb(145, 145, 145);
}

.board_header_title_more {
  cursor: pointer;
  position: relative;
}

.board_dropdown {
  box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.12);
  padding: 20px;
  width: 150px !important;
  cursor: default;
}
.board_dropdown p {
  border-bottom: 1px solid #f8f8f8;
  cursor: pointer;
}

.board_cards {
  background-color: #f8f8f8;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: auto;
}

.board_add-card {
  background-color: #fff;
  color: #000;
  border-radius: 10px;
  box-shadow: 1px 1px 0 1px rgba(0, 0, 0, 0.12);
  width: 100%;
  text-align: center;
}
.board_add-card_edit {
  background-color: #fff;
  border-radius: 10px;
  padding: 10px;
}
/* .delete-popup{
   background-color: #fff;
  box-shadow: 1px 1px 0 1px rgba(0, 0, 0, 0.12);
  width: 40%;
  cursor: pointer;
  position: relative;
  left: 11rem;
  bottom: 3rem; 
 
}
.delete-popup p{
  border-bottom: 1px solid #f8f8f8;
  cursor:pointer;
} */
.delete-popup {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 4rem;
  left: 12rem; /* Adjust the value based on your desired position */
  background-color: white;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 3rem;
}

.delete-popup p {
  
  padding: 8px 12px;
  cursor: pointer;
}

.delete-popup p:hover {
  background-color: #f5f5f5;
}