.board {
    min-width: 290px;
    width: 290px;
    max-height: 100%;
    flex-basis: 290px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .board_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

.board_top_more{
    position:relative;
    cursor: pointer;
}
.board_dropdown{
    background-color: #fff;
    width:130px;
    padding:10px;
    border-radius:3px;
    box-shadow:1px 0 20px rgba(0,0,0,0.5);
}
.board_dropdown p{
    cursor:pointer;
}

.board_top_title{
     flex:1;
    display: flex;
    align-items: center;
    font-weight: bold; 
    
}

.board_top_title span{
    color:gray;
}

.board_cards{
    background-color: #f8f8f8;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: auto;
}

.board_cards_add{
    background-color: white;
    border-radius: 5px;
    box-shadow: 1px 2px 0 1px rgba(0,0,0,0.15);
}

.board_cards_add:hover{
    box-shadow: 1px 2px 0 1px #ccc;
    
}