    .board {
    min-width: 290px;
    width: 290px;
    max-height: 100%;
    flex-basis: 290px;
    display: flex;
    flex-direction: column;
    
    border-radius: 15px;
  }
  
  .board_header {
    display: flex;
    justify-content: space-between;
    
    
  }

.board_top_more{
  cursor: pointer;
    position:relative;
  
}
.board_dropdown{
    background-color: #fff;
    width:130px;
    padding:10px;
    border-radius:3px;
    box-shadow:1px 0 20px rgba(0,0,0,0.5);
    align-items:center;
}
.board_dropdown p{
    cursor:pointer;
}



.board_top_title {
  font-size: 18px; 
  font-weight: bold;
  margin: 0;
  flex:1;
  display: flex;
  align-items: center;
    
}

.board_top_title span {
  font-weight: normal;
  color:gray;
}

.board_cards{
    background-color: #f8f8f8;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: auto;
}

.board_cards_add{
    background-color: white;
    border-radius: 5px;
    box-shadow: 1px 2px 0 1px rgba(0,0,0,0.15);
}

.board_cards_add:hover{
    box-shadow: 1px 2px 0 1px #ccc;
    
} 
  
    


     