.custom-scroll::-webkit-scrollbar{
  width: 8px;
}

.custom-scroll::-webkit-scrollbar-thumb{
  border-radius: 30px;
  border:1px solid #f8f8f8;
  background-color: #fff;
}

.custom-scroll::-webkit-scrollbar-thumb:hover{
  background-color: gray;
}

.app{
 height:100vh;
 width:100%;
 display:flex;
 flex-direction:column;
}

.app_navbar{
  width: 100%;
  padding:20px 30px;
  border-bottom: 1px solid #ccc;
  
}

.app_outer{
  flex:1;
  width:100%;
  overflow-x: auto;
  padding:20px;
}

.app_boards{
   height: 100%;
  width: fit-content;
  padding: 10px 30px;
  display: flex;
  gap: 30px;
}

.app_boards_board{
  min-width:290px;
  width:290px;

}
.app_boards_board_add {
  background-color: white;
  border-radius: 5px;
  box-shadow: 1px 2px 0 1px rgba(0,0,0,0.15);
}

.app_boards_board_add:hover{
  box-shadow: 1px 2px 0 1px #ccc;
  
}
