.custom-scroll::-webkit-scrollbar{
  width: 8px;
}

.custom-scroll::-webkit-scrollbar-thumb{
  border-radius: 30px;
  border:1px solid #f8f8f8;
  background-color: #fff;
}

.custom-scroll::-webkit-scrollbar-thumb:hover{
  background-color: gray;
}

.app{
  display: flex;
  height: 100vh;
  width: 100%;
  flex-direction: column;
}

.app_navbar{
  width: 100%;
  padding:20px 30px;
  border-bottom: 1px solid #ccc;
}

.app_outer{
  flex:1;
  width:100%;
  overflow-x: auto;
}

.app_boards{
  padding: 20px;
  padding-bottom: 5px;
  height: 100%;
  min-width: fit-content;
  display: flex;
  gap:3rem;
}

